# Visual Studio
.vs/
*.sln.docstates
*.suo
*.user
*.userprefs
*.unityproj
*.dll
*.exe
*.pdb
*.mdb
*.cache
*.log
*.ncb
*.opendb
*.sdf
*.opensdf
*.vspx
*.vssscc
*.vsscc
*.vssscc
*.vsscc
*.scc
*.cache
bin/
obj/
packages/
project.lock.json
project.fragment.lock.json
.vscode

# Rider
.idea/
*.sln.iml

# DotNet
*.db
*.db-shm
*.db-wal
*.pdb
*.dll
*.exe

# NuGet Packages
*.nupkg
*.snupkg
*.nuspec
*.symbols.nupkg

#Xcode
.DS_Store
*.xcuserstate
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcodeproj/xcuserdata/*.xcuserdatad/*
DerivedData/
build/
*.app
*.ipa
*.dSYM
*.swp
*.lock
*.log
*.plist